<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container-lg main-container">
      <nav class="navbar white navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <h3><a href="{{ url_for('habr_app.posts')}}" class="nav-brand without-decoration white">Habr News</a></h3>
          <ul class="navbar-nav ml-auto">
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login')}}">
                    <p class="mt-2">Войти</p>
                </a>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register')}}">
                    <p class="mt-2">Зарегистрироваться</p>
                </a>
            </li>

            {% else %}

            <li class="nav-item">
                <p class="mt-3 mr-3">Привет, {{ current_user.username }}</p>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout')}}">
                    <p class="mt-2">Выйти</p>
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('habr_app.posts')}}">
                    <button type="button" class="btn btn-outline-light">Все новости</button>
                </a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn btn-outline-light">Предложить новость</button>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button" class="btn btn-outline-light">Контакты</button>
                </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row mt-3">
        <div class="column col-9">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <div class="column col-3">
          <div class="container bg-light tags">
            <h3 class="mb-3">Популярные теги</h3>
              {% for tag, count in tags %}
                <p>
                    <a href="{{ url_for('habr_app.tag_posts', tag_id=tag.id)}}" class="oswald without-decoration">{{ tag.title }}</a>
                    <span class="oswald without-decoration">({{ count }} статьи)</span>
                </p>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="footer bg-dark white mt-3">
          <div class="container"><h6>Подпишись на нас в <a href="#" class="white">Телеграм</a></h6></div>
      </div>
    </div>
</body>